body{
	/*background-color: #B3FF68;*/
	margin: 0;
	padding: 0;
	border: 0; 
	height: 100%;
	max-width: 100%;
    overflow-x: hidden;
    /*box-sizing: border-box; */
}

header h1{
	float: left;
	text-align: center;
}

header,
section,
footer {
    margin: 0;
    padding: 0;
}

li{
	color:white;
}

h4{
	text-align: center;
	color:white;
}

h1{
	color: brown;
	margin:0;
}

p{
	word-wrap: break-word;
	color: white;
}

.icone{
	border-bottom: 0;
	float: left;
	margin-top: 35px;
	margin-left: 10px;
	padding-left: 10px;
}

.icone li{
	padding-left: 20px;
}

header{
	width: 100%;
	height: 150px;
	/*background-color: green;*/
	margin-bottom: 0;
	/*clear: both;*/
}

header h1{
	margin-top: 4%;
	text-align: center;
}

header img{	
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 10%;
}

header ul li{
	display: inline-block;
	padding: 10px;
	float: left;
}

header ul li img{
	width: 20px;
	height: 20px;
}

.bg{
	margin-left: 32%;
	width: 300px;
	background-color: #FFE374;
	color: brown;
}

section .divisao{
	height: 40px;
	width: 100%;
	background-color: #FFE374;
	/*width: 100%;*/
	text-align: center;
	color: brown;
	margin:0;
}

h2{
	text-align: center;
	color: brown;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	height: 600px;
 	margin: auto;
}

.um{
	clear: both;
	text-align: center;
}

.um h1{
	text-align: center;
}

.um p{
	color: white;
}

.dois{
	/*position: absolute;*/
	/*background-image: url("imagem/P ORTARIA.jpg");*/
	background: url(imagem/PORTARIA.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-attachment: scroll;
	/*background-repeat: no-repeat;*/
	/*opacity: 0.70;*/
	top:93%;
	width: 100%;
}

.tres{
	/*position: absolute;*/
	/*background-image: url("imagem/P ORTARIA.jpg");*/
	background: url(imagem/praca.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-attachment: scroll;
	/*background-repeat: no-repeat;*/
	/*opacity: 0.70;*/
	top:93%;
	width: 100%;
}

.quatro{
	/*position: absolute;*/
	/*background-image: url("imagem/P ORTARIA.jpg");*/
	background: url(imagem/playground.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-attachment: scroll;
	/*background-repeat: no-repeat;*/
	/*opacity: 0.70;*/
	top:93%;
	width: 100%;
}

.fundo_um{
	width: 400px;
	padding: 20px; 
	margin-left: 40px;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: white;
	word-wrap: break-word;
}

.fund0_um p{
	width: 300px;
}

.fundo_um h3{
	text-align: center;
	color: brown;
}

.fundo_dois{
	width: 400px;
	padding: 20px; 
	margin-right: 40px;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: white;
	word-wrap: break-word;
	bottom: 20px;
}

.fundo_dois p{
	width: 300px;
}

.fundo_dois h3{
	text-align: center;
	color: brown;
}

.fundo_tres{
	width: 400px;
	padding: 20px; 
	margin-right: 40px;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: white;
	word-wrap: break-word;
	bottom: 20px;
}

.fundo_um p{
	width: 300px;
}
/*
.fundo_dois nav img{
	height: 130px;
}*/

.teste p, li{
	color:brown;
}


nav img{
	width: 100%;
	height: 100%;
}

footer {
	width: 100%;
	background-color: black;
	color: white;
	text-decoration: none;
}

footer img{
	margin-left: 20px;
	width: 200px;
}

@media only screen and (max-width: 600px){
	  	.carousel-inner > .item > img,
	  	.carousel-inner > .item > a > img {
	      width: 100%;
	      height: 300px;
	      margin: auto;
		}

		header img{
			margin-left: 20%;
		}
	
		
		header ul{
			margin-left: 10%;
		}

		h3, p{
			text-align: center;
		}

		.fundo_um{
		width: 100%;
		padding: 0; 
		margin-left: 0;
		word-wrap: break-word;
		/*margin-top: 100px;*/
		margin-bottom: 100px;
		background-color: white;
		}

		.fundo_dois{
		width: 100%;
		padding: 0; 
		margin-left: 0;
		padding-left: 0;
		word-wrap: break-word;
		/*padding: 20px; 
		/*margin-right: 40px;*/
		margin-top: 100px;
		margin-bottom: 100px;
		/*background-color: white;*/
		bottom: 20px;
		}
}
